<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.thymeleaf.org">
  <meta charset="UTF-8">
  <title>Lista de clientes</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/stylemenu.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/menubueno :: menu}"></div>

<div class="container-fluid mt-5">
  <div class="row justify-content-end mt-4">
    <div class="col-10">
      <div class="p-4" style="background-color: white; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
        <table class="table table-striped table-bordered">
          <thead class="table-dark">
          <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th style="width: 200px;">Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="cliente : ${clientes}">
            <td th:text="${cliente.nombre}">Nombre</td>
            <td th:text="${cliente.apellidos}">Apellidos</td>
            <td th:text="${cliente.telefono}">Teléfono</td>
            <td th:text="${cliente.email}">Email</td>
            <td class="text-center">
              <a th:href="@{/detalle/{id}(id=${cliente.id})}" class="btn btn-info">Detalle</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script src="/js/js.js"></script>
</body>
</html>
