<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Correo enviado</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styleLogin.css">
</head>
<body>
<div class="left-section"></div>
<div class="right-section">
  <div class="container text-center">
    <div class="alert alert-success mt-5">
      <strong>¡Éxito!</strong> Te hemos enviado un correo con el enlace para restablecer tu contraseña.
    </div>
    <a href="/login" class="btn btn-primary">Volver al login</a>
  </div>
</div>
</body>
</html>