<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Editar incidencia</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/stylemenu.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/menubueno :: menu}"></div>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Edición de incidencia</h1>
            <div class="card-body">

                <form th:action="@{/incidencias/{id}(id=${incidencia.id})}" th:object="${incidencia}" method="post">

                    <div class="form-group">
                        <label>Título: </label>
                        <input type="text" name="titulo" th:field="*{titulo}" class="form-control" placeholder="Ponga el título" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Descripción: </label>
                        <textarea name="descripcion" th:field="*{descripcion}" class="form-control" placeholder="Descripción de la incidencia" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>Fecha de Creación: </label>
                        <input type="datetime-local" name="fechaCreacion" th:value="*{fechaCreacion}" class="form-control" placeholder="Fecha de la incidencia" >                    </div>
                    <br>
                    <div class="form-group">
                        <label>Fecha Resolución: </label>
                        <input type="datetime-local" name="fechaResolucion" th:value="*{fechaResolucion}" class="form-control" placeholder="Ponga la fecha" >
                    </div>
                    <div class="form-group">
                        <label>Estado: </label>
                        <select name="estado" th:field="*{estado}" class="form-control" required>
                            <option value="" disabled selected>Seleccione un estado</option>
                            <option value="Registrada">Registrada</option>
                            <option value="En_Curso">En_Curso</option>
                            <option value="Cerrada">Cerrada</option>
                        </select>
                    </div>
                    <br>
                    <div class="box-footer">
                        <button class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/js.js"></script>
</body>
</html>
