<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mis incidencias</title>
</head>
<body>
<h1>Incidencias asignadas a mí</h1>

<table>
    <thead>
    <tr>
        <th>Título</th>
        <th>Descripción</th>
        <th>Estado</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="incidencia : ${incidencias}">
        <td th:text="${incidencia.titulo}"></td>
        <td th:text="${incidencia.descripcion}"></td>
        <td th:text="${incidencia.estado}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
