<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Drop Down Sidebar Menu | CodingLab</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div th:fragment="menu">
<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxl-c-plus-plus'></i>
        <span class="logo_name">MR.Franuel</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="/cuadrodemando">
                <i class='bx bx-grid-alt'></i>
                <span class="link_name">Cuadro de Mandos</span>
            </a>
<!--            <ul class="sub-menu blank">-->
<!--                <li><a class="link_name" href="#">Categorias</a></li>-->
<!--            </ul>-->
        </li>
        <li>
            <div class="icon-link">
                <a href="/clientes">
                    <i class='bx bx-collection'></i>
                    <span class="link_name">Clientes</span>
                </a>
                <i class='bx bx-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Category</a></li>
                <li><a href="/clientes/nuevo">Nuevo Cliente</a></li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a href="/incidencias/nuevo">
                    <i class='bx bx-book'></i>
                    <span class="link_name">Post</span>
                </a>
                <i class='bx bx-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Posts</a></li>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Card Design</a></li>
                <li><a href="#">Login form</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-pie-chart-alt-2'></i>
                <span class="link_name">Analytica</span>
            </a>
<!--            <ul class="sub-menu blank">-->
<!--                <li><a class="link_name" href="#">Analytics</a></li>-->
<!--            </ul>-->
        </li>
        <li>
            <a href="#">
                <i class='bx bx-bar-chart-alt'></i>
                <span class="link_name">Estadísticas</span>
            </a>
<!--            <ul class="sub-menu blank">-->
<!--                <li><a class="link_name" href="#">Chart</a></li>-->
<!--            </ul>-->
        </li>
        <li>
            <div class="icon-link">
                <a href="#">
                    <i class='bx bx-plug'></i>
                    <span class="link_name">Plugins</span>
                </a>
                <i class='bx bx-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Plugins</a></li>
                <li><a href="#">UI Face</a></li>
                <li><a href="#">Pigments</a></li>
                <li><a href="#">Box Icons</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-compass'></i>
                <span class="link_name">Explore</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Explore</a></li>
            </ul>
        </li>
        <li>
            <a th:href="@{/info}">
                <i class='bx bx-group'></i>
                <span class="link_name">Quienes Somos</span>
            </a>
<!--            <ul class="sub-menu blank">-->
<!--                <li><a class="link_name" href="#">History</a></li>-->
<!--            </ul>-->
        </li>
        <li>
            <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">    </form>

                <i class='bx bx-cog'></i>
                <span class="link_name">Cerrar sesion</span>
            </a>
<!--            <ul class="sub-menu blank">-->
<!--                <li><a class="link_name" href="#">Setting</a></li>-->
<!--            </ul>-->
        </li>
    </ul>
</div>
<section class="home-section">
    <div class="home-content">
        <i class='bx bx-menu'></i>
        <span class="text">Incidencias</span>
    </div>
</section>
<div class="content-container">

</div>
</div>
</body>
</html>
