/* Reset styles for consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    background: rgb(155,149,255);
    background: linear-gradient(90deg, rgba(155,149,255,1) 0%, rgba(0,212,255,1) 100%);
    color: #343a40;
}

/* Navbar styling */
.navbar {
    background-color: #343a40;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    color: #fff;
}

/* Navbar link styling */
.navbar-nav .nav-item .nav-link {
    font-size: 1rem;
    color: #fff;
    padding: 10px 15px;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #007bff;
    border-radius: 4px;
}

/* Sidebar styling */
.sidebar {
    position: fixed;
    top: 75px;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #343a40;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    transition: transform 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #555;
}

.sidebar a:hover {
    background-color: #495057;
}

/* Estilo para el botón de abrir/cerrar */
.sidebar-toggle {
  position: absolute;
  right: 0px;
  font-size: 30px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}


/* Content styling */
.content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s;
}

.content h2 {
    font-size: 2rem;
    color: #343a40;
}

/* Table styling */
.table {
    margin-top: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
    padding: 15px;
    text-align: left;
}

.table th {
    background-color: #343a40;
    color: #fff;
    font-size: 1.3rem;
}

.table td {
    color: #495057;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #ddd;
}

.table .btn {
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 4px;
}

.table .btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.table .btn-info:hover {
    background-color: #138496;
    border-color: #117a8b;
}

.table .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.table .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

/* Footer styling */
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
    background-color: #343a40;
    color: #fff;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
