body {
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #007bff 50%, #fff 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-section {
    width: 50%;
    height: 100%;
    background-image: url('/images/fondo.jpg');
    background-size: cover;
    background-position: center;
}

.right-section {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 100%;
    max-width: 70%;
    padding: 40px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgb(0 0 0 / 41%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #343a40;
}

label {
    font-size: 1.2rem;
    color: #343a40;
}

.form-control {
    font-size: 1.1rem;
    padding: 15px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 1.2rem;
    padding: 10px 0;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.form-group span a {
    color: #007bff;
    text-decoration: none;
    font-size: 1.1rem;
}

.form-group span a:hover {
    text-decoration: underline;
}